<!DOCTYPE html>
<html>
<head>
    <title>Frontend</title>
</head>
<body>
    <h1>Data from Backend:</h1>
    <ul>
        {% for item in data %}
        <li>{{ item[0] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
